.card-row{
    justify-content: start;
    
}
.cat-section{
    margin-top: 80px;
    overflow: hidden;
    margin-bottom: 10px;
}
.cat-section Button{
    background-color: rgba(255, 166, 0, 0.726);
}
.h5-cat{
    color: darkorange;
}